<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contact</title>
    <link rel="stylesheet" href="Contact.css">
</head>
<body>
     
   
    <h1 class="tittle">Contact Me</h1>
    <a href="Home.html" class="btn-home">Press to return to Home</a>

    <section class="sec">

      
            <div class="redes">
                <img src="" alt="">
                <img src="" alt="">
                <img src="" alt="">
            </div>

        </div>



    <form action="">
       
        <input type="text" placeholder="Name" id="pname" required>

        <input type="email" placeholder="Email" id="pemail" required>

        <input type="text" placeholder="Asunto" id="pasunto" required>

        <textarea name="" id="mesagge" placeholder="servicios que desea" required></textarea>
        <input type="submit" value="Enviar" id="enviar">

    </form>
    </section>


</body>
</html>