<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home site</title>
    <link rel="stylesheet" href="/Public/css/Home.css">
    <link rel="shortcut icon" href="favicon.ico" type="image/x-icon">
    
</head>
<body>
        <h1 class="HomeSite">WELCOME TO MY HOME SITE!</h1>
        <ul>
            <li><a href="/valores">Valores</a></li>
            <li><a href="/proyectos">Proyects</a></li>
            <li><a href="/skills">Skills</a></li>
            <li><a href="/contacto">Contact</a></li>
        </ul>

        <div class="contenedor_de_imagen">
           <div class="caja"> <img src="/Public/img/mi foto.jpeg" alt="" class="img"></div>

        </div>
        <section class="contenedor">
            <div class="caja_contenedor">
                <h2 class="soft">Sofware Development</h2>
                <h2 class="name">Jarol Jholkins Williams Richards</h2>

             
            </div>
               <div class="descripcion-contenedor">
                <h2 class="descripcion">
                    Hola, soy Jarol Jholkins Williams Richards, estudiante de la carrera de desarrollador de software con una gran pasión por la creación de soluciones tecnológicas eficientes, escalables y orientadas al usuario. Me especializo en el <
                     desarrollo de aplicaciones robustas, limpias y funcionales, y disfruto cada parte del proceso: desde el diseño de la arquitectura hasta la implementación y mejora continua. <br>

                    <br>
                    ¿Qué me mueve?
                    <br>
                    La posibilidad de construir, automatizar y optimizar. Me encanta enfrentar nuevos retos tecnológicos, aprender constantemente y colaborar con equipos multidisciplinarios para lograr productos de alto impacto.
                </h2>
            </div>
        </section>

</body>
</html>