<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Skills</title>
<link rel="stylesheet" href="/Public/css/Skills.css">
</head>
<body>
    <h1 class="tittle">My Skills</h1>
        <a href="Home.html" class="btn-home">Press to return to Home</a>

        <section class="tablas">
            
        <table>
           <tr>
            <th>tecnología</th>
            <th>valoración</th>
           </tr>

        <tr>
            <td>C# .Net</td>
            <td>3/5</td>
            
        </tr>
        <tr>
            <td>SQL</td>
            <td>3/5</td>
           
        </tr>

         <tr>
            <td>HTML</td>
            <td>3/5</td>
           
        </tr>

         <tr>
            <td>CSS</td>
            <td>3/5</td>
           
        </tr>

         <tr>
            <td>JavaScript</td>
            <td>1/5</td>
           
        </tr>

         <tr>
            <td>Python</td>
            <td>2/5</td>
           
        </tr>
        </table>

        </section>
</body>
</html>